<main>
  <div class="breadcrumb grey lighten-3">
    <h6>
      Dashboard
    </h6>
  </div>
  <br><br>
  <div class="container">
    <h4>Current Projects</h4>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>
          <%if current_user.userType == 1 %>
              Number of Submitions
          <%else%>
              Estado
          <%end%>
        </th>
        <th>Remaing Time</th>
      </tr>
      </thead>
      <tbody>

      <% @projects.each do |c| %>
      <% @submissions = Submission.where(project_id: c.id) %>
          <tr>
            <td><%= c.title %> </td>
            <td>
            <% if current_user.userType == 1 %>
            <%= @submissions.size %>
            <%else
                if Submission.where(:project_id => c.id, :user_id => current_user).empty?
                  %>
                      Não submetido.
                  <%else%>
                      Submetido
                  <%end%>
              <%end%>

            </td>
            <td><%= distance_of_time_in_words(Time.now,  c.closeTime) %> </td>
            <td><%= link_to 'Ver', {:action => 'show', :controller=> 'projects', :id => c.id}, class: 'waves-effect waves-light btn' %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <% if flash[:error] %>
      <div class="help-block"><%= flash[:error] %></div>
    <% end %>
  </div>
</main>