<main>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Criar novo concurso</h1>
      <br><br>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <%= form_for :projects, url: '/projects/update' do |f| %>
          <div class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="name" name="projects[name]" type="text" class="validate" value="<%= @project.title %>">
                <label for="name">Nome</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea id="description" name="projects[description]" class="materialize-textarea"><%= @project.description %></textarea>
                <label for="description">Descrição</label>
              </div>
            </div>
            <div class="row">
              <div class="file-field input-field">
                <div class="btn">
                  <span>PDF</span>
                  <%= f.file_field :file %>
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
            </div>
            <span>Data e hora de fecho</span>
            <div id="teste" class="row">
              <div class="input-field col s6">
                <input type="text" name="projects[finish_date]" class="datepicker">
              </div>
              <div class="input-field col s6">
                <input type="text" name="projects[finish_hour]" class="timepicker">
              </div>
            </div>
            <span>Linguagens</span><br><br>
            <div class="row">
              <div class="col s3">
                <% if @languages.include? 'C'%>
                  <input type="checkbox" id="C" name="projects[C]" checked="checked"/>
                <% else %>
                    <input type="checkbox" id="C" name="projects[C]"/>
                <%end%>
                <label for="C">C</label>
              </div>
              <div class="col s3">
                <% if @languages.include? 'Java'%>
                    <input type="checkbox" id="Java" name="projects[Java]" checked="checked"/>
                <% else %>
                    <input type="checkbox" id="Java" name="projects[Java]"/>
                <%end%>
                <label for="Java">Java</label>
              </div>
              <div class="col s3">
                <% if @languages.include? 'PHP'%>
                    <input type="checkbox" id="php" name="projects[PHP]" checked="checked"/>
                <% else %>
                    <input type="checkbox" id="php" name="projects[PHP]"/>
                <%end%>
                <label for="php">PHP</label>
              </div>
              <div class="col s3">
                <% if @languages.include? 'Python'%>
                    <input type="checkbox" id="python" name="projects[Python]" checked="checked"/>
                <% else %>
                    <input type="checkbox" id="python" name="projects[Python]"/>
                <%end%>
                <label for="python">Python</label>
              </div>
            </div>
          </div>
          <input style="display:none;" name="projects[id]" type="text" value="<%=@project.id%>">
          <div class="row">
            <div class="input-field col s12">
              <%= f.submit 'Submeter', class: 'waves-effect waves-light btn' %>
            </div>
          </div>
          </div>
      <% end %>
      </div>
  </div>
</main>
<script>
    var $input = $('.datepicker').pickadate()

    var picker = $input.pickadate('picker')
    picker.set('select', '<%= @close_date %>', { format: 'yyyy-mm-dd' })
</script>
<%= javascript_include_tag('new_project.js') %>