<main>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center orange-text">Detalhes</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s6">
        <h5>Titulo: </h5>
      </div>
      <div class="col s6 center-align">
        <h5><%= @project.title %></h5>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col s12 text-center">
        <h5>Descricão: </h5>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <h6><%= @project.description %></h6>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col s6 ">
        <h5>Hora de abertura: </h5>
      </div>
      <div class="col s6 center-align">
        <h5><%= @project.openTime %></h5>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col s6">
        <h5>Hora de fecho: </h5>
      </div>
      <div class="col s6 center-align">
        <h5><%= @project.closeTime %></h5>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col s6">
        <h5>Linguagens permitidas: </h5>
      </div>
      <div class="col s6 center-align">
        <h5><%= @languages %></h5>
      </div>
    </div>
    <hr>
    <% if current_user.userType == 1 %>
        <div class="row">
          <div class="col s6">
            <h5>Total de submissões: </h5>
          </div>
          <div class="col s6 center-align">
            <% @submissions = Submission.where(project_id: @project.id) %>
            <h5><%= @submissions.size %></h5>
            <% if @submissions.size > 0 %>
                <%= link_to 'Ver submissões', {:action => 'submissions', :controller=> 'projects', :id => @project.id}, class: 'waves-effect waves-light btn' %>
            <%end%>
          </div>
        </div>
        <hr>
    <% end %>
    <br>
    <% if @document != nil %>
        <div class="row">
          <div class="col s12 center-align">
            <h5><%= link_to 'Descarregar documento', {:action => 'send_document', :controller=> 'projects', :id => @project.id}, class: 'waves-effect waves-light btn' %></h5>
          </div>
        </div>
    <%end %>
    <div class="row">
      <div class="input-field col s12 center-align">
        <% if current_user.userType == 1 %>
            <table>
            <tr>
            <td style="text-align: right;"><%= link_to 'Modificar', {:action => 'edit', :controller=> 'projects', :id => @project.id}, class: 'waves-effect waves-light btn' %></td>
            <td><%= button_to 'Remover', {:id => @project.id}, :method => :delete, :class => 'waves-effect waves-light btn'%></td>
            </tr>
            </table>
        <% else %>
            <% if Submission.where(:project_id => @project.id, :user_id => current_user.id).empty? %>
                <td><%= link_to 'Submeter', {:action => 'new', :controller=> 'submissions', :project_id => @project.id}, class: 'waves-effect waves-light btn' %></td>
            <% else %>
                <td><%= link_to 'Submeter Novamente', {:action => 'new', :controller=> 'submissions', :project_id => @project.id}, class: 'waves-effect waves-light btn' %></td>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</main>